@CHARSET "ISO-8859-1";

body{
  background-color: #0489B1;
  font-size: 11px;
}

h1{
	font-size: 18px;
	border-bottom-style: solid;
	border-bottom-color: #424242;
	border-bottom-width: thin;
	color: #424242;
}

._error{
	background-color: #F8EFFB;
	color: #DF0101;
	padding: 5px;
}

._PAGE{
	width: 800px;
	background-color: #A9BCF5;
	margin: 10px auto;
	padding: 5px;
}

._HEADER{
	background-color: white;
	margin: 5px;
	padding: 5px;
}

._BODY{
	margin: 5px;
	padding: 5px;
	background-color: white;
	color: #585858;
}

._FOOTER{
	text-align: center;
	margin: 5px;
	padding: 5px;
	background-color: #E6E6E6;
}